<!-- navigation.nunjucks -->
{% macro active(activePage='home') %}
<nav class="navbar">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Project workflow by @i-tea</a>
  </div>
    <ul class="nav navbar-nav">
      <li><a href="#" class="{%if activePage == 'home' %} active {% endif %}">Home</a></li>
      <li><a href="#" class="{%if activePage == 'about' %} active {% endif %}">About</a></li>
      <li><a href="#" class="{%if activePage == 'contact' %} active {% endif %}">Contact</a></li>
    </ul>
</nav>
{% endmacro %}