<!-- index.njk -->
{% extends "layout/layout.njk" %}

{% block content %}
{% import 'partials/navigation.njk' as nav %}
{{nav.active('home')}}

{% include 'partials/jumbotron.njk' %}

<h1>This is the index page</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>Bootstrap project function test</p>
        </div>
    </div>
</div>

{% include 'partials/footer.njk' %}
{% endblock %}